//- ================================
//- 設定ファイル
//- ================================

-
  //- サイト全体
  const SITE_NAME = '';
  const SITE_URL = '';
  const ROOT_PATH = '';

  //- SNS設定
  const TWITTER = '';
  const FACEBOOK = '';

  //- OGP & Schema
  const COMPANY_NAME = '';
  const COMPANY_OWNER = '';
  const COMAPNY_DATE = '';
  const COMAPNY_TEL = '';
  const COMPANY_LOGO = '';
  const COMPANY_POST_CODE = '';
  const COMPANY_PREF = '';
  const COMPANY_ADDRESS1 = '';
  const COMPANY_ADDRESS2 = '';

  //- Global Navigation
  const items = [
    {
      name: 'Home',
      path: ROOT_PATH
    }
  ];
